/backend/node_modules/
/backend/dist/
/backend/.env/
/backend/*.log
/SoulSync-bot/node_modules/ 
/SoulSync-bot/config.env/
/SoulSync-bot/package.json/
/SoulSync-bot/package-lock.json/

/fronted/node_modules/
/fronted/package.json/
/fronted/package-lock.json/