# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store      # For macOS
Thumbs.db      # For Windows

# Build & production files
dist/
build/
*.tgz

# npm package lock (optional based on your preference)
package-lock.json

# IDE-specific files (VS Code)
.vscode/
.idea/
